body { 
   background-image: url(background.jpg; colocar imagem de fundo 
    background-repeat:no-repeat ; sem repetições de imagem
    background-position: 100% 10%  ; posições de imagem do background.
    /*  background-position: 100% 10%   ; save  porcentagens de posição de imagem
    background-position: center center ; podições com comadndos de letra 
        background-size:   cover    ; fullscreen
    background-attachment: fixed  ; fixar a tela de fundo




}   

 















