body { 
background:rgb(0, 0, 0, ) \aterador de cores de desing 
}

body{
    background: #818181; ; exa decimal outro alterador de cores
}


p {
    color: #000; cor de subtitulos  https://www.rgbtohex.net site rapido para trocar as cores
    
 } 