body { 
background:red ; cor de fundo 
}

.verde{ color: verde ;} alterar cor de palavras



h3 {     
 color: green;
}     alterar cores de todos os textos h3



img{ 
    width: px :px:  alterar tamanho de foto facilmente
}


#titulo-principal {  = id="titulo-principal" cor para certos tipos de textos
    color: yellow; 
}

